// Colors
$colors: (
  white:     #ffffff,
  primary:   #428bca,
  success:   #5cb85c,
  info:      #5bc0de,
  warning:   #f0ad4e,
  danger:    #d9534f,
  black:     #000000
);

$base:        #000001;
// Grays
$grays: (
  base:       0%,
  darker:     5%,
  dark:       10%,
  gray:       30%,
  light:      60%, 
  lighter:    80%,
);
